  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h1 class="">Najpopulárnejšie témy</h1>
          <ul class="">
            <li>
              <a href="#">Proteín</a>
            </li>
            <li>
              <a href="#">Bicepsy</a>
            </li>
            <li>
              <a href="#">Triceps</a>
            </li>
            <li>
              <a href="#">Pevné zadočky</a>
            </li>
            <li>
              <a href="#">RAW strava</a>
            </li>
            <li>
              <a href="#">Kardio</a>
            </li>
            <li>
              <a href="#">Benchpress</a>
            </li>
            <li>
              <a href="#">Squats</a>
            </li>
            <li>
              <a href="#">Bielkoviny</a>
            </li>
            <li>
              <a href="#">BMI</a>
            </li>
            <li>
              <a href="#">Zranenie</a>
            </li>
            <li>
              <a href="#">Aminokyseliny</a>
            </li>
            <li>
              <a href="#">Strava</a>
            </li>
            <li>
              <a href="#">Svalovka</a>
            </li>
            <li>
              <a href="#">Burnout</a>
            </li>
            <li>
              <a href="#">Tréning</a>
            </li>
          </ul>
        </div>
        <div class="col-md-8">
          <p class="lead"><b>Je lezenie dobrý šport na rýchle chudnutie?</b></p>
          <ul class="">
            <li><b>Tréner:</b> Lezenie je zaujímavý outdoorový šport, nno nie je ideálny na chudnutie. Skôr by som odporúčal beh, prípadne nejaké kardio cviky v posilovni. Ak máte záujem, môžem Vám zostaviť osobný cvičebný plán.</li>
            <li><b>Robokop:</b> Ja som začal liesť nedávno a pribral som 5 kíl.</li>
      <a href="#">Čítaj viac</a>
          </ul>
      <br>
    <p class="lead"><b>Ideálny jedálniček na celý týždeň</b></p>
          <ul class="">
            <li><b>Rendy:</b> Ja uprednostňujem prestrú stravu než nejaký presne naplánovaný jedálniček. </li>
            <li><b>Tréner:</b> Pestrá strava je fajn ale pri cvičení je dobre prispôsobiť príjem niektorý zložiek tréningu. Napríklad ak podstupujete silový tréning je dobré obohatiť stravu o príjem bielkovin napr. si dať aspoň 3 krát do týždňa na večeru tvaroh.</li>
      <a href="#">Čítaj viac</a>
          </ul>     
      <br>
    <p class="lead"><b>Nezabúdajte cvičiť nohy</b></p>
          <ul class="">
            <li><b>Mihaljnica:</b> Presne!!! :D nieje nič horšie ako vidieť poriadne vymakaného človeka na dvoj tenkých paličkách :D :D </li>
            <li><b>Zaris:</b> Ono to nieje žeby som zabudol. Mne sa len proste neche :D Radšej si dám biceps.</li>
      <a href="#">Čítaj viac</a>
          </ul>
            <br>
    <p class="lead"><b>Najhoršie zážitky z posilky</b></p>
          <ul class="">
            <li><b>Ilirion:</b> Úplne najhoršie bolo keď som cvičil s trénerom, dával som si benchpress moju maximálku (vtedy 50KG) a on miesto toho aby ma istil sa obzeral po nejakých babách...som myslel že si tam zlomím krk.</li>
            <li><b>Tréner:</b> Fu to ma mrzí. Niečo také by sa naozaj stávať nemalo a môžem vám zaručiť že u mňa sa ani nestane. Svojou prácu beriem zodpovedne.</li>
      <a href="#">Čítaj viac</a>
          </ul>
        </div>
      </div>
    </div>
  </div>
