<div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="display-1">Poradňa</h1>
          <br> </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <h1 class="">Najpopulárnejšie témy</h1>
          <ul class="">
            <li>
              <a href="#">Proteín</a>
            </li>
            <li>
              <a href="#">Bicepsy</a>
            </li>
            <li>
              <a href="#">Triceps</a>
            </li>
            <li>
              <a href="#">Pevné zadočky</a>
            </li>
            <li>
              <a href="#">RAW strava</a>
            </li>
            <li>
              <a href="#">Kardio</a>
            </li>
            <li>
              <a href="#">Benchpress</a>
            </li>
            <li>
              <a href="#">Squats</a>
            </li>
            <li>
              <a href="#">Bielkoviny</a>
            </li>
            <li>
              <a href="#">BMI</a>
            </li>
            <li>
              <a href="#">Zranenie</a>
            </li>
            <li>
              <a href="#">Aminokyseliny</a>
            </li>
            <li>
              <a href="#">Strava</a>
            </li>
            <li>
              <a href="#">Svalovka</a>
            </li>
            <li>
              <a href="#">Burnout</a>
            </li>
            <li>
              <a href="#">Tréning</a>
            </li>
          </ul>
        </div>
        <div class="col-md-8">
          <h1 class="">Aktívna diskusia</h1>
          <p class="lead"><b>Je lezenie dobrý šport na rýchle chudnutie?</b></p>
          <ul class="">
            <li><b>Tréner:</b> Lezenie je zaujímavý outdoorový šport, nno nie je ideálny na chudnutie. Skôr by som odporúčal beh, prípadne nejaké kardio cviky v posilovni. Ak máte záujem, môžem Vám zostaviť osobný cvičebný plán.</li>
            <li><b>Robokop:</b> Ja som začal liesť nedávno a pribral som 5 kíl.</li>
            <ul class="">
              <li><b>Mihaljnica:</b> Je to dosť aj o strave.</li>
              <li><b>Mates-san:</b> Hej, je to dobré na nabratie svalov v horných partiách.</li>
            </ul>
            <li><b>Zaris:</b> Ja lozím celý život a je to super na udržiavanie kondície</li>
            <ul class="">
              <li><b>Ilirion:</b> ľudom na nervy</li>
              <ul class="">
                <li><b>Rendy:</b> #rekt</li>
                <li><b>Zaris:</b> :D :D</li>
              </ul>
            </ul>
            <ul class="">
              <li><b>Topa:</b> Ja som si rozbil hlavu pri lezení</li>
            </ul>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <%= link_to "<i class='fa fa-fw fa-question-circle-o'></i>".html_safe + 'Často kladené otázky', faq_url, class: "btn btn-primary btn-lg btn-block" %>
          <br>
          <br>
          <%= link_to "<i class='fa fa-fw fa-archive'></i>".html_safe + 'Archív diskusií', archive_url, class: "btn btn-primary btn-lg btn-block" %>
        </div>
           <div class="col-md-9">
            <div class="panel panel-primary">
              <div class="panel-heading"><h2>Live Chat</h2></div>
              <div class="panel-body">
                    <div class="chat-body clearfix">
                      <div class="header"> <strong class="primary-font">Peter Silný</strong> <small class=" text-muted">
                                        <span class="glyphicon glyphicon-time"></span>12 mins ago</small> </div>
                      <p> Okej, ďakujem. V tomto prípade by som teda odporúčal&nbsp;CASEIN ZERO.&nbsp;Pomaly sa vstrebávajúci kazeínový proteínový prášok bez laktózy, gluténu a cukru vhodný pre ľudí, ktorí často cvičia.</p>
                    </div>
                    <div class="chat-body clearfix">
                      <div class="header"> <strong class=" primary-font">Dávid Kažimír</strong>  <small class=" text-muted"><span class="glyphicon glyphicon-time"></span>13 mins ago</small> </div>
                      <p> Moja hmotnosť je 75 kg a cvičím 4x do týždňa</p>
                    </div>
                    <div class="chat-body clearfix">
                      <div class="header"> <strong class="primary-font">Peter Silný</strong> <small class=" text-muted">
                                        <span class="glyphicon glyphicon-time"></span>14 mins ago</small> </div>
                      <p> Zdravím, potrebujem vedieť o Vás akú máte hmotnosť a koľkokrát do týždňa cvičíte.</p>
                    </div>
                    <div class="chat-body clearfix">
                      <div class="header"> <strong class=" primary-font">Dávid Kažimír</strong> <small class=" text-muted"><span class="glyphicon glyphicon-time"></span>15 mins ago</small> </div>
                      <p> Dobrý deň, chcel by som sa opýtať aké výživové doplnky odporúčate pre 18 ročného študenta.
                        <br> </p>
                    </div>
              </div>
              <div class="panel-footer">
                <div class="input-group mx-1">
                  <input id="btn-input" type="text" class="form-control input-sm" placeholder="Správa"> <span class="input-group-btn">
                            <button class="btn btn-sm btn-secondary" id="btn-chat">Poslať</button>
                        </span> </div>
              </div>
            </div>
          </div>  
      </div>
    </div>
  </div>