  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="display-1">Často kladené otázky</h1>
          <br> </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <h1 class="">Najpopulárnejšie témy</h1>
          <ul class="">
            <li>
              <a href="#">Proteín</a>
            </li>
            <li>
              <a href="#">Bicepsy</a>
            </li>
            <li>
              <a href="#">Triceps</a>
            </li>
            <li>
              <a href="#">Pevné zadočky</a>
            </li>
            <li>
              <a href="#">RAW strava</a>
            </li>
            <li>
              <a href="#">Kardio</a>
            </li>
            <li>
              <a href="#">Benchpress</a>
            </li>
            <li>
              <a href="#">Squats</a>
            </li>
            <li>
              <a href="#">Bielkoviny</a>
            </li>
            <li>
              <a href="#">BMI</a>
            </li>
            <li>
              <a href="#">Zranenie</a>
            </li>
            <li>
              <a href="#">Aminokyseliny</a>
            </li>
            <li>
              <a href="#">Strava</a>
            </li>
            <li>
              <a href="#">Svalovka</a>
            </li>
            <li>
              <a href="#">Burnout</a>
            </li>
            <li>
              <a href="#">Tréning</a>
            </li>
          </ul>
        </div>
        <div class="col-md-8">
          <h3 class="">Ako a kde začať?</h1>
          <ul class="">
            <li>Ja odporúčam tieto tri základné veci: dieta má 80-90% podiel na premene vášho tela, nepodceňujte ju a dietou rozhodne nemyslím hladovku ale stravu primeranú vašej fyzickej činnosti. Druhým kľúčom je nájsť si aktivitu, ktorá vás baví. Nemá zmysel sa potiť v posilke ak vás to nebaví. Zato ak máte radi plávanie tak smelo do toho. A tretia vec, ktorú je dobre si uvedomiť je, že vďaka silovému tréningu bude všetko vo vašom živote ĽAHŠIE!</li>
          </ul>
      <br>
          <h3 class="">Je dobré robiť kardio a silový tréning naraz ? </h1>
          <ul class="">
            <li>Jasné! Smelo do toho. Kľudne si dajte silový tréning a za tým trochu kardia. Alebo pondelok, streda, piatok silový tréning a utorok štvrtok nejaká zábavná aktivita, ktorá vám rozpumpuje srdce.</li>
          </ul>
      <br>
    <h3 class="">Počul som žeby som mal jesť viacero jedál denne. Čo je na tom pravdy?</h1>
          <ul class="">
            <li>Raňajky vždy! Je dobré jesť aspoň každé tri hodiny a tak aby sa strava skladala z 30-40% proteíny, 30-40% karbohydráty a 10-20% tuky. Jedzte 30-60 minút pred cvičením a znova 30-60 minút po cvičení.</li>
          </ul>
      <br>
    <h3 class="">Koľko vody by som mala vypiť denne ? </h1>
          <ul class="">
            <li>Doktory odporúčajú aspoň 2 litre denne. Čím je však človek väčší tým viac vody by mal vypiť a počas horúcich dni ešte viac. Ak máte daný deň tréning tak tiež odporúčam piť viac.</li>
          </ul>
      <br>
    <h3 class="">Potrebujem pás na vzpieranie ?</h1>
          <ul class="">
            <li>Je vysoko odporúčané používať kvalitný, kožený pás, ktorý vám spevní spodnú časť chrbtice a tým predchádza zraneniu. Ja osobne ho používam vždy a nemám žiadne prolémy s chrbticou.</li>
          </ul>
      <br>
        </div>
      </div>
    </div>
  </div>
