<div class="py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="display-3 my-4">Novinky</h1>
          <div class="row">
            <div class="col-md-1"><i class="d-block  fa fa-5x fa-info text-center bg-warning my-2"></i></div>
            <div class="col-md-11">
              <h2>Dostupnosť počas Vianočných sviatkov</h2>
              <p class="">Dovoľujem si Vás informovať o dostupnosti služieb počas Vianoc a Nového roku 2017. Dňa 25. Decembra je sviatok a nebude možné využívať moje služby. Dostupnosť v štandardnom režime bude od 25.12.2017 do 30.12.2017. Dňa 31.12.2017 až 2.1.2018 služby neposkytujem a štandardný režim nastupuje opäť od 3.1.2017. Teším sa na Vás a prajem Vám príjemné prežitie vianočných sviatkov.</p>
            </div>
          </div>
        </div>
      </div>
      <br>
      <br>
    </div>
      <div class="row">
        <div class="col-md-4">
          <img class="img-fluid d-block" src="https://fitnesstrainer.imgix.net/uploads/instructor/picture/11191/2ad77e38479accabe7a74302920a5395-profile-small.png?auto=format%2Cenhance%2Credeye&amp;s=e1e46935f9e9f75fbe696e5a2d2049d4" alt="Fotka trénera"> </div>
        <div class="col-md-8">
          <h2 class="">O mne</h2>
          <p class="">Od štyroch rokov sa venujem športu. Pätnásť rokov som aktívne hrával ľadový hokej za Slovan Bratislava. Popri hokeji som vyskúšal doplnkové športy: gymnastiku, tenis, futbal a box. Na konci mojej hokejovej kariéry som si uvedomil, že tento rýchlostno
            - silový šport si vyžaduje mimoriadnu pozornosť, ktorá by mala byť zameraná predovšetkým na kompenzáciu jednostranného zaťaženia a odstránenie svalových dysbalancií.&nbsp;
            <br>Spojil som sa s fyzioterapeutom a začal som vykonávať doplnkové športy, aby som nadobudol komplexnosť pohybových schopností. Naša spolupráca trvá dodnes a táto problematika sa zároveň stala mojím koníčkom.
            <br>Pri štúdiu na Univerzite Komenského - Fakulte telesnej výchovy a športu v Bratislave som si vybral špecializáciu trénerstvo - kondičný tréner a nadobudnuté vzdelanie sa usilujem zlepšovať prostredníctvom rôznych školení a kurzov. Svojim klientom
            sa snažím poskytnúť maximálnu komplexnú starostlivosť. Prioritou je pre mňa Vaša spokojnosť a dosiahnutie spoločne vytýčeného cieľa.</p>
        </div>
      </div>
    <div class="py-5">
      <div class="container">
        <div class="row my-5">
          <div class="col-md-12">
            <div class="embed-responsive embed-responsive-16by9 w-75 mx-auto">
              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/kUGxgmRcwX0" allowfullscreen=""> </iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
