<h1>Prihlásenie</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:session, url: login_path) do |f| %>

      <label for="session_email"><strong>E-mail</strong></label>
      <%= f.email_field :email, class: 'form-control' %>

      <label for="session_password"><strong>Heslo</strong></label>
      <%= f.password_field :password, class: 'form-control' %>

      <br>

      <%= f.submit "Prihlásiť", class: "btn btn-primary" %>
    <% end %>

    <p>Ešte nemáte konto? <%= link_to "Zaregistrujte sa!", signup_path %></p>
  </div>
</div>
