<div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h1 class="">Najpopulárnejšie témy</h1>
          <ul class="">
            <li>
              <a href="#">Proteín</a>
            </li>
            <li>
              <a href="#">Bicepsy</a>
            </li>
            <li>
              <a href="#">Triceps</a>
            </li>
            <li>
              <a href="#">Pevné zadočky</a>
            </li>
            <li>
              <a href="#">RAW strava</a>
            </li>
            <li>
              <a href="#">Kardio</a>
            </li>
            <li>
              <a href="#">Benchpress</a>
            </li>
            <li>
              <a href="#">Squats</a>
            </li>
            <li>
              <a href="#">Bielkoviny</a>
            </li>
            <li>
              <a href="#">BMI</a>
            </li>
            <li>
              <a href="#">Zranenie</a>
            </li>
            <li>
              <a href="#">Aminokyseliny</a>
            </li>
            <li>
              <a href="#">Strava</a>
            </li>
            <li>
              <a href="#">Svalovka</a>
            </li>
            <li>
              <a href="#">Burnout</a>
            </li>
            <li>
              <a href="#">Tréning</a>
            </li>
          </ul>
        </div>
        <div class="col-md-8">
          <% @articles.each do |article| %>
            <h1><%= link_to article.title, article %></h1>
            <img class="img-fluid d-block w-100 img-thumbnail" src=<%= article.image %>>
            <p><%= article.content[0..140] + "..." %><%= link_to "Čítaj viac", article %></p>
            <p><%= "Tagy: " + article.tag %></p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</table>
