<img class="img-fluid d-block w-100 img-thumbnail" src=<%= @article.image %>>

<h1>
  <%= @article.title %>	
</h1>

<p>
  <strong>Tagy:</strong>
  <%= @article.tag %>
</p>

<p>
  <%= @article.content %>
</p>

<%= link_to 'Späť', articles_path, class: "btn btn-primary" %>
