<h1>Registrácia</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>

      <label for="user_name"><strong>Meno*</strong></label>
      <%= f.text_field :name, class: 'form-control' %>

      <label for="user_email"><strong>E-mail*</strong></label>
      <%= f.email_field :email, class: 'form-control' %>

      <label for="user_address"><strong>Adresa</strong></label>
      <%= f.text_field :address, class: 'form-control' %>

      <label for="user_phone"><strong>Telefón</strong></label>
      <%= f.text_field :phone, class: 'form-control' %>

      <label for="user_password"><strong>Heslo*</strong></label>
      <%= f.password_field :password, class: 'form-control' %>

      <label for="user_password_confirmation"><strong>Potvrdenie hesla*</strong></label>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <br>

      <p>* Povinné polia<p>

      <%= f.submit "Vytvoriť konto", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
