<h1><%= "Môj profil - #{@user.name}" %></h1>
<br>
<div class="row">
	<div class="col-md-6">
		<h2>Objednávky čakajúce na prevzatie v posilňovni</h2>
		<% if @user.order.empty? %>
			<p>Neobjednali ste si ešte žiaden produkt.</p>
		<% else %>
			<% @user.order.each do |order| %>
			    <h3><%= Product.find(order.product_id).name %></h3>
			    <td><%= "Počet: #{order.quantity}" %></td>
			    <br>
			    <br>
			    <br>
			<% end %>
		<% end %>
	</div>
	<div class="col-md-6">
		<h2>Rezervácie</h2>
		<% if @user.reservation.empty? %>
			<p>Nemáte zarezervovaný žiaden termín tréningu.</p>
		<% else %>
			<% @user.reservation.each do |reservation| %>
				<% if reservation.course == 1 %>
					<h3>Kondičný tréning</h3>
				<% elsif reservation.course == 2 %>
					<h3>Začiatočník</h3>
				<% else %>
					<h3>Pokročilý</h3>
				<% end %>
			    <td><%= reservation.term.strftime('%d. %m. %Y o %H:%M') %></td>
			    <br>
			    <br>
			    <br>
			<% end %>
		<% end %>
	</div>
</div>