<%= form_for(order) do |f| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :product_id, :value => params[:product_id] %>

  <%= f.hidden_field :user_id, :value => params[:user_id] %>

  <div class="field">
    <b>Počet</b>
    <%= f.number_field :quantity %>
  </div>

  <br>

  <div class="actions">
    <%= f.submit "Objednať", class: "btn btn-primary" %>
  </div>
<% end %>
