<%= form_for(reservation) do |f| %>
  <% if reservation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

      <ul>
      <% reservation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :course, :value => params[:course_id] %>

  <%= f.hidden_field :user_id, :value => params[:user_id] %>

  <%= week_calendar events: @reservations do |date, reservations| %>
    <% [ 8, 10, 14, 16, 18 ].each do |time| %>
      <% if !reservations.map(&:term).flatten.include?(DateTime.parse("#{date} #{time}:00:00.000000")) %>
        <br><%= f.radio_button :term, DateTime.parse("#{date} #{time}:00:00.000000") %>
        <%= "#{time}:00" %>
      <% else %>
        <br><%= f.radio_button :term, DateTime.parse("#{date} #{time}:00:00.000000"), :disabled => true %>
        <%= "obsadené" %>
      <% end %>
    <% end %>
  <% end %>

  <br>

  <div class="actions">
    <%= f.submit "Rezervovať", class: "btn btn-primary" %>
  </div>
<% end %>
