<div class="py-4">
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="py-5 bg-dark">
        <h1 class="text-center"><%= link_to 'Kondičný tréning', new_reservation_path(:user_id => current_user, :course_id => 1), class: "text-white" %></h1>
      </div>
      <%= link_to image_tag("https://thumb.ibb.co/dAOO8G/fitness_tamara_ukradena.jpg", class: "img-fluid d-block", width: "690", height: "460", alt: "Ilustračný obrázok 1"), new_reservation_path(:user_id => current_user, :course_id => 1) %>
      <%= link_to 'Prihlásiť sa (19,99 €)', new_reservation_path(:user_id => current_user, :course_id => 1), class: 'btn btn-primary btn-lg btn-block' %>
    </div>
    <div class="col-md-4">
      <div class="py-5 bg-dark">
        <h1 class="text-center"><%= link_to 'Začiatočník', new_reservation_path(:user_id => current_user, :course_id => 2), class: "text-white" %></h1>
      </div>
      <%= link_to image_tag("https://thumb.ibb.co/inWkoG/barbell_back_squat_main_0.jpg", class: "img-fluid d-block", width: "690", height: "460", alt: "Ilustračný obrázok 2"), new_reservation_path(:user_id => current_user, :course_id => 2) %>
      <%= link_to 'Prihlásiť sa (29,99 €)', new_reservation_path(:user_id => current_user, :course_id => 2), class: 'btn btn-primary btn-lg btn-block' %>
    </div>
    <div class="col-md-4">
      <div class="py-5 bg-dark">
        <h1 class="text-center"><%= link_to 'Pokročilý', new_reservation_path(:user_id => current_user, :course_id => 3), class: "text-white" %></h1>
      </div>
      <%= link_to image_tag("https://thumb.ibb.co/m4hVNb/bodybuilder_bicep_flex_holiday_workout.jpg", class: "img-fluid d-block", width: "690", height: "460", alt: "Ilustračný obrázok 3"), new_reservation_path(:user_id => current_user, :course_id => 3) %>
      <%= link_to 'Prihlásiť sa (49,99 €)', new_reservation_path(:user_id => current_user, :course_id => 3), class: 'btn btn-primary btn-lg btn-block' %>
    </div>
  </div>
</div>
<div class="py-5">
  <div class="container">
    <div class="row my-5">
      <div class="col-md-12">
        <h1 class="bg-dark text-white text-center">Cenník vstupov do fitness centra</h1>
        <img class="img-fluid d-block mx-auto" src="https://preview.ibb.co/cSmqNb/cennik.png" width="" height="" alt="Cenník vstupov"> </div>
    </div>
    <div class="row my-5">
      <div class="col-md-12">
        <h1 class="bg-dark text-white text-center">Cenník ďalších ponúkaných služieb</h1>
        <img class="img-fluid d-block mx-auto" src="https://preview.ibb.co/e0Dn2b/cennik2.png" alt="Cenník ďalších služieb"> </div>
    </div>
  </div>
</div>
