<div class="simple-calendar">
  <div class="calendar-heading">
    <%= link_to t('simple_calendar.previous', default: 'Predchádzajúci týždeň'), calendar.url_for_previous_view %>
    <% if calendar.number_of_weeks == 1 %>
      <span class="calendar-title"><%= calendar.week_number %>. Týždeň</span>
    <%else%>
        <span class="calendar-title"><%= calendar.week_number %> - <%= calendar.end_week %>. Týždeň</span>
    <%end%>
        <%= link_to t('simple_calendar.next', default: 'Ďalší týždeň'), calendar.url_for_next_view %>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <% date_range.slice(0, 7).each do |day| %>
          <th><%= [ 'Ne ' + day.strftime('%d. %m.'), 'Po ' + day.strftime('%d. %m.'), 'Ut ' + day.strftime('%d. %m.'), 'St ' + day.strftime('%d. %m.'), 'Št ' + day.strftime('%d. %m.'), 'Pi ' + day.strftime('%d. %m.'), 'So ' + day.strftime('%d. %m.') ][day.wday] %></th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% date_range.each_slice(7) do |week| %>
        <tr>
          <% week.each do |day| %>
            <%= content_tag :td, class: calendar.td_classes_for(day) do %>
              <% if defined?(Haml) && respond_to?(:block_is_haml?) && block_is_haml?(block) %>
                <% capture_haml(day, sorted_events.fetch(day, []), &block) %>
              <% else %>
                <% block.call day, sorted_events.fetch(day, []) %>
              <% end %>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
