<div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h1 class="">Kategórie</h1>
            <% cathegories = ['proteíny', 'gainery a sacharidy', 'kreatíny', 'aminokyseliny a BCAA', 'predtréningovky', 'stimulanty a energizéry', 'stimulanty a energizéry', 'potréningová regenerácia', 'náhrada stravy', 'spaľovače tuku', 'kĺbová výživa', 'vitamíny a minerály', 'tyčinky a snacky', 'nápoje', 'špeciálne prípravky', 'fitness pomôcky', 'oblečenie'].sort! %>
            <% cathegories.each { |cathegory| %>
              <%= search_form_for @q do |f| %>
                <%= f.hidden_field :cathegory_cont, :value => cathegory %>
                <%= f.submit (cathegory.slice(0,1) == 'š' ? 'Š' : cathegory.slice(0,1).upcase) + cathegory.slice(1..-1), class: "btn btn-link" %>
              <% end } %>
        </div>
        <div class="col-md-8">
          <form class="form-inline m-0 pull-right">
          <%= search_form_for @q do |f| %>
            <%= f.search_field :name_cont, class: "form-control mr-2", title: "Pole na zadanie hľadaného výrazu" %>
            <%= f.submit "Hľadaj", class: "btn btn-primary" %>
          <% end %>
          </form>
          <h3>
            Zoradiť podľa:
            <br>
            <%= sort_link(@q, :price, 'Ceny') %>
            <%= sort_link(@q, :cathegory, 'Váhy') %>
            <%= sort_link(@q, :name, 'Abecedne') %>
          </h3>
          <br>
          <div class="row">
            <div class="col-md-4">
              <%= search_form_for @q do |f| %>
                <%= f.hidden_field :cathegory_cont, :value => 'TOP' %>
                <%= f.submit "TOP PRODUKTY", class: "btn btn-block btn-outline-primary" %>
              <% end %>
            </div>
            <div class="col-md-4">
              <%= search_form_for @q do |f| %>
                <%= f.hidden_field :cathegory_cont, :value => 'ODPORÚČANÉ' %>
                <%= f.submit "ODPORÚČANÉ", class: "btn btn-block btn-outline-primary" %>
              <% end %>
            </div>
            <div class="col-md-4">
            <%= search_form_for @q do |f| %>
              <%= f.hidden_field :cathegory_cont, :value => 'AKCIE' %>
              <%= f.submit "AKCIE", class: "btn btn-block btn-outline-primary" %>
            <% end %>
            </div>
          </div>
          <br>
        <div class="row">
            <% @products.each do |product| %>
              <div class="col-md-4">
                <h3><%= link_to product.name, product %></h3>
                <%= link_to image_tag(product.image, class: "img-fluid d-block w-100", alt: "Obrázok produktu #{product.name}"), product %>
                <h5><%= "Cena: #{product.price / 100.0} €" %></h5>
              </div>
            <% end %>
        </div>
        </div>
      </div>
    </div>
  </div>
