<div class="row">
	<div class="col-md-6">
		<img class="img-fluid d-block w-100 img-thumbnail" src=<%= @product.image %>>
	</div>
	<div class="col-md-6">
	<h1><%= @product.name %></h1>

	<p>
	  <strong>Kategória:</strong>
	  <%= @product.cathegory %>
	</p>

	<p>
	  <%= @product.description %>
	</p>

	<p>
	  <strong>Cena:</strong>
	  <%= "#{@product.price / 100.0} €" %>
	</p>

<% if logged_in? %>
  <%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :product_id, :value => params[:id] %>

  <%= f.hidden_field :user_id, :value => current_user.id %>

  <div class="form">
    <b>Počet</b>
    <%= f.number_field :quantity, :value => 1, max: 99, min: 1 %>
    <br>
    <br>
    <%= f.submit "Objednať", class: 'btn btn-primary btn-lg btn-block' %>
  </div>
<% end %>
<% else %>
	<h2>Na objednanie tovaru sa prihláste.</h2>
<% end %>
	<br>
	<%= link_to 'Späť', products_path, class: "btn btn-primary" %>
	</div>
</div>
